<title>Appointment Management System</title>
<meta charset='utf-8'>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<meta name="viewport" content="width=device-width,user-scalable=yes, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<header>
    <video id="myVideo" autoplay muted loop playsinline>
        <source src="/assets/backgroundVideo.mp4" type="video/mp4" style="background-color: hsla(50, 33%, 25%, .75)">
        
    </video>
            
            <div class="video-overlay"></div>
            
            <div class="navbar">
                
                <ul>
                <li><a id="home"  class="active" href="/" >Home</a></li>
                <li><a id="about" href=#>About</a></li>
                <li><a id="login" href="/login" style="display: block;" >Login</a></li>
                
                
                
            </ul>
                <ul ><li ><a className = logoutItem id="logout" href="/logout" style="display: none;" >logout</a></li></ul>
            </div>
            
            
</header>
<script>
    var currentPage = window.location.pathname;
                
                if (currentPage == "/wellcomePage") { 
                    
                    document.getElementById("login").style.display = 'none';
                    document.getElementById("logout").style.display = 'block';
                }
                if (currentPage == "/wellcomePage") { 
                    
                    document.getElementById("login").style.display = 'none';
                    document.getElementById("logout").style.display = 'block';
                }
                
                
</script>