<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signUp.css">
    <link rel="stylesheet" href="css/footer.css" />
</head>

<body>
    <div class="full-page">
      <label id="errorMsg" style="font-size: 16px; color: red" hidden></label>
      
        <div id='register-form'class='Registration-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='Trainer()'class='toggle-btn'>Trainer</button>
                    <button type='button'onclick='Trainee()'class='toggle-btn'>Trainee</button>
                </div>
               
                <form id='Trainee' class='input-group-Trainee' action="/signup"
                method="POST"
                onsubmit="return validateSignupForm()">
                    <input type='text'class='input-field'placeholder='Full Name' required>
                    <input type='email'class='input-field'placeholder='Email' required>
                    <input type='password'class='input-field'placeholder='Enter Password' required>
                    <input type='password'class='input-field'placeholder='Confirm Password'  required>
                    <input type='checkbox'class='check-box'>
                    <span class="Agreement">I agree to the terms and conditions</span>
                    <button type='submit'class='submit-btn'>Register Now</button>
                    <div id="login" class="login">
                      <br><br> <br><br> <p>Hey,do you have an existing account? log in now!</p>  
                      <button type="button" class="login-btn" id="loginBtn">Login</button>
                    </div>
                </form>
                <form id='Trainer' class='input-group-Trainer' action="/signup"
                method="POST"
                onsubmit="return validateSignupForm()">
                    <input type='text'class='input-field'placeholder='Full Name' required>
                    <input type='text'class='input-field'placeholder='Business Name' required>
                    <input type='email'class='input-field'placeholder='Email' required>
                    <input type='password'class='input-field'placeholder='Enter Password' required>
                    <input type='password'class='input-field'placeholder='Confirm Password'  required>
                    <input type='checkbox'class='check-box'>
                    <span class="Agreement">I agree to the terms and conditions</span>
                    <button type='submit'class='submit-btn'>Register Now</button>
                    <div id="login" class="login">
                      <br><br> <p>Hey,do you have an existing account? log in now!</p>   
                      <button type="button" class="login-btn" id="loginBtn" onclick="location.href='/login'">Login</button>
                    </div>
		            </form>
              
              </div>
             
            </div>
            <footer><%- include('../partials/footer') %></footer>
        </div>
      
    </div>
    
  
    <script>
        var x=document.getElementById('Trainer');
		var y=document.getElementById('Trainee');
		var z=document.getElementById('btn');
		function Trainee()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function Trainer()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
    var regStatus = true;
    var errorMsg = document.getElementById("errorMsg");
    errorMsg.style.display = "none";
    if ("<%= status %>" == "false") {
      errorMsg.innerHTML = "This email is already exixt";
      errorMsg.style.display = "block";
      regStatus = false;
    }
    function validateSignupForm() {
      var regStatus = true;
      var fullName = document.getElementById("fullName").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var passwordRepeat = document.getElementById("passwordRepeat").value;
      var checkbox = document.getElementById("cb").checked;
      if (!checkbox) {
        errorMsg.innerHTML = "You must agree the terms";
        errorMsg.style.display = "block";
        return false;
      }
      if (password.length < 8) {
        errorMsg.innerHTML =
          "Your password must include atleast 8 characters";
        errorMsg.style.display = "block";
        return false;
      }
      if (password != passwordRepeat) {
        errorMsg.innerHTML = "please confirm your password";
        errorMsg.style.display = "block";
        return false;
      }
      if (!ValidateEmail(email)) {
        errorMsg.innerHTML = "You have entered an invalid email address!";
        errorMsg.style.display = "block";
        return false;
      }
      return regStatus;
    }
    function ValidateEmail(email) {
      return /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(email);
    }
	</script>


    
</body>
</html>
