<!DOCTYPE html>
<html>
    
 
    <header>
        <%- include('../partials/header') %>
    </header>
    <body>
     
        <div class="=content">
            <p1>Wellcome To Our Site</p1>
        </div>
            
    </body>
    
</html>